@import "tailwindcss";

*{
    
    box-sizing:border-box;
}
html{
    font-size: 22px;
}

.active hr{
    @apply block
}

::-webkit-scrollbar{
    @apply hidden
}

.Header{
    width: 100%;
    display: flex;
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    background-color: rgb(9, 9, 155);
    justify-content: space-between;
    color: rgb(247, 247, 247);
    padding: 10px;
    height: 60px;
}




@media (max-width:670px){
  .active p{
    @apply text-white bg-blue-500
  }
}